.skillCardGrid {
  display: grid;
  min-width: 320px;
  max-width: 414px;
  grid-template-columns: repeat( 3, 1fr );
  grid-template-areas: 
    " Name    Name    Act   "
    " Name    Name    Cost   "
    " Keys    Keys    Keys  "
    " Rules   Rules   Rules "
    " Tier    Reqs    Reqs  ";
  border: 2px solid #6c97e7;
  border-radius: 5px;
  padding: .4em
}

.skillCardGrid > .skillName {
  grid-area: Name;
  font-weight: 650;
  font-size: 1.6em;
}

.skillCardGrid > .skillTier {
  grid-area: Tier;
  font-style: italic;
}

.skillCardGrid > .skillCost {
  grid-area: Cost;
  text-align: right;
  font-style: italic;
}

.skillCardGrid > .skillAct {
  grid-area: Act;
  text-align: right;
}

.skillCardGrid > .skillKeys {
  grid-area: Keys;
  font-style: italic;
}

.skillCardGrid > .skillRules {
  grid-area: Rules;
  border-top: 1px solid #6c97e7;
}

.skillCardGrid > .skillReqs {
  grid-area: Reqs;
  text-align: right;
}

.skillRowGrid {
  display: grid;
  gap: 0 .6em;
  grid-template-areas: 
    "Name  Act  Keys  Rules  Cost  Tier";
}

.skillHeader {
  text-decoration: underline;
  font-size: .8em;
  padding: 0 .1em;
}

.skillRowGrid > .skillTier {
  grid-column: Tier;
  text-align: center;
}

.skillRowGrid > .skillCost {
  grid-column: Cost;
  text-align: center;
}

.skillRowGrid > .skillAct {
  grid-column: Act;
}

.skillRowGrid > .skillKeys {
  grid-column: Keys;
  max-width: 300px;
}

.skillRowGrid > .skillRules {
  grid-column: Rules;
  max-width: 500px;
}

.skillRowGrid > .skillReqs {
  grid-column: Reqs;
  text-align: center;
}